/* Footer design */
.footer {
  background-color: $gray-dark;
  padding: 20px 0;
  color: white;
  font-size: 10px;
}

.footer i {
  font-size: 30px;
  margin: 0 10px;
  color: white;
}

.footer i:hover {
  color: $green-lighter;
}
