body {
  margin: 0;
  font-family: $base-font;
  background-color: white;
}

h1 {
  font-family: $header-font;
  font-size: 38px;
  letter-spacing: 10;
  font-weight: 600;
}


h2 {
  font-family: $header-font;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}

.newsletter {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

form input, select {
  margin: 0 5px;
}
