body {
  margin: 0;
  font-family: Open-sans, sans-serif;
  background-color: #E9EBED;
}
h1, h2, h3 {
  font-family: Raleway, Helvetica, sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 0;
}
.padded {
  padding: 100px 0;
}
.wrapper-grey {
  background: #F4F4F4;
}

.wrapper-white {
  background: #FFFFFF;
  padding: 20px 0;
}

h1 {
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 38px;
  letter-spacing: 10;
  font-weight: 600;
}

.banner p {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 3;
  opacity: 0.9;
}

.newsletter {
  width: 80%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 0;
}

form input, select {
  margin: 0 5px;
}
